body{
	background: rgba(0, 0, 0, 0.6) url(bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#frmRegister{
	background: rgba(255, 255, 255 , 0.4);
	width: 300px;
	height: 510px;
	margin:auto;
	margin-top: 30px;
}

.inputs{
	border: none;
	height: 30px;
	width: 200px;
	border-left: 8px solid #B6223B;
}

.inputs:focus{
	background-color: #ffc6e6;
	color: black;
}

p{
	color: red;
	margin-bottom:-10px;
}

.buttons{
	width: 200px;
	height: 30px;
	border:none;
	background-color: rgba(182, 34, 59, 0.9);
	color: white;
   box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.buttons:hover{
	background-color: white;
	color: #B6223B;
}

#header{
	margin-left: -10px;
	width: 1400px;
	height: 50px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: 655px;
	height: 22px;
	background-color: rgba(0, 0, 0, 0.8);
}

li:hover{
	background-color: rgba(255, 255, 255, 0.6);
	
}

ul {
	margin-top: -8px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

#frmLogin{
	background: rgba(255, 255, 255 , 0.4);
	width: 300px;
	height: 300px;
	margin:auto;
	margin-top: 130px;
}